html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.banner {
  background-color: #555555;
  padding: 15px;
  color: #fff;
}

.navBar {
  display: flex;
  justify-content: center;
}

h2 span {
  color: #b86d29;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.containerStyle {
  min-height: 404px;
  border: 2px #555555 solid;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}

.card {
  border: 2px #555555 solid;
  border-radius: 10px;
  width: 200px;
  height: 350px;
  margin: 10px;
  padding: 10px;
}

img {
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.btn-c {
  position: absolute;
  bottom: 10px;
  left: 28px;
}

.btn-r {
  position: relative;
}
